.container-aboutUs {
  width: 100%;
  display: flex;
  font-family: "Gilroy";
  background-color: white;
  /* background: rgb(51, 51, 51);
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  ); */
}

.aboutUs-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 100px;
}

.aboutUs-left h3 {
  color: rgb(169, 155, 75);
  font-size: 40px;
  font-weight: 700;
}

.aboutUs-p {
  color: #333333;
  font-size: 20px;
  margin-top: 40px;
}

.aboutUs-p1 {
  color: #333333;
  font-size: 20px;
}

.aboutUs-left button {
  width: 261px;
  height: 51px;
  background: #333333;
  border: 2px solid rgb(169, 155, 75);
  margin-top: 40px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgb(169, 155, 75);
}

.aboutUs-right {
  width: 50%;
  margin-left: 50px;
  margin-right: 120px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#wedd {
  border-radius: 40px;
  /* border: 1px #333333 solid; */
  height: 700px;
}

#ph {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

/* aboutus2 */

.container2-aboutUs {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  background-image: url("../../Assets/images/bg-content.png");
  /* background-color: white; */
  /* background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(51, 51, 51, 1) 100%
  ); */
  color: white;
}

.container2-aboutUs h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.aboutUs-text-container {
  display: flex;
  justify-content: space-evenly;
}

.aboutsUs-design h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  margin-top: 40px;
}

.aboutsUs-design p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 20px;
  margin-top: 20px;
}

#map {
  /* border-radius: 50px; */
  margin-top: 30px;
}

#linelong {
  height: 2px;
  width: 1200px;
}
