.container-advice {
  margin-bottom: 50px;
}

.advice-text {
  text-align: center;
  margin-top: 50px;
}

.advice-container-card {
  display: flex;
  /* justify-content: space-evenly; */
}

.advice-cards {
  max-height: 300px;
  display: flex;
  text-align: center;
  color: white;
}

#advice-text {
  display: flex;
  align-items: flex-end;
  margin-top: 180px;
  color: white;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;

  text-align: center;
}

.advice-text p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  text-align: center;
}

.advice-text h4 {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 30px;
}

.advice-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.advice-button button {
  width: 255px;
  height: 51px;
  background-color: #333333;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}

/* advice finish */

/* social start */

.social-text {
  text-align: center;
  width: 100%;
}

.social-text p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  /* or 29px */

  text-align: center;
  margin-top: 80px;
}

.social-text h4 {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  /* identical to box height */

  text-align: center;
  margin-bottom: 70px;
}

.container-video {
  display: flex;
  justify-content: center;
}

video {
  width: 100%;
  height: 500px;
  margin-bottom: 80px;
}

/* social finish */

/* content start */
.container-content {
  background-image: url("../../Assets/images/bg-content.png");
  background-size: cover;
  width: 100%;
  height: 480px;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  padding-top: 50px;
}

.content-text h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 140%;
  margin-bottom: 20px;
}

.container-content h3 {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  margin-top: 10px;
}

.container-content p {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 50px;
}

.container-content button {
  width: 224px;
  height: 51px;
  border: 1px solid #333333;
  color: #333333;
  background-color: white;
  margin-top: 30px;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media all and (max-width: 1024px) {
  .container-content p {
    margin-left: 70px !important;
    margin-right: 70px !important;
  }
}

@media all and (max-width: 768px) {
  .advice-cards {
    width: 200px;
    height: auto;
  }

  video {
    width: 610px;
    margin-bottom: 0;
  }

  #advice-text {
    font-size: 17px !important;
  }

  .social-text p {
    margin-top: 0;
  }

  .social-text h4 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 425px) {
  video {
    width: 300px;
  }
}
