@import url("http://fonts.cdnfonts.com/css/gilroy-bold");

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy", sans-serif;
  /* overflow-x: hidden; */
}

#music {
  margin-top: 40px;
  width: 200px;
  height: 50px;
}

.search-form {
  width: 170px;
  height: 35px;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: white;
}

.container-header {
  background-image: url("../../Assets/images/bgc.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 750px;
}

#bgc {
  width: 100%;
  position: absolute;
  display: flex;
}

#search {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.container-navbar {
  position: absolute;
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 130px;
  margin-top: 10px;

  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-decoration: none;
}

.navbar-text {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 150%;
  color: white;
  display: flex;
  margin-left: 100px;
  margin-right: 85px;
  margin-top: 16px;
  text-decoration: none !important;
}

.navbar-text-p {
  padding-left: 30px;
  padding-right: 30px;
}

#logo {
  width: 15%;
  height: auto;
}

.navbar-controllers {
  display: flex;
  align-items: center;
  margin-left: 130px;
  color: white;
}

#lupa {
  width: 20px;
  height: 20px;
}

#user {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

#heart {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

#vhod {
  margin-left: 30px;
  font-size: 15px;
}

.container-home {
  position: absolute;
  display: flex;
  margin-top: 450px;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-home h3 {
  color: white;
  font-size: 36px;
  margin-bottom: 50px;
  font-weight: 600;
  font-family: "Gilroy", sans-serif;
}

.container-home button {
  width: 261px;
  height: 51px;
  color: white;
  border: 1px white solid;
  background-color: #333333;
  font-size: 18px;
  font-weight: 500;

  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.active {
  color: rgb(169, 155, 75) !important;
}

.active:hover {
  color: rgb(169, 155, 75) !important;
}

/* Адаптация */
@media all and (max-width: 1440px) {
  .container-navbar {
    min-width: 1440px;
  }

  .container-header {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 750px;
  }
}

@media all and (max-width: 1024px) {
  .container-header {
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 500px;
  }

  .navbar-text {
    font-family: "Gilroy", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px !important;
    line-height: 150%;
    color: white;
    display: flex;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 16px;
  }

  #logo {
    margin-left: 42px;
    margin-right: 42px;
  }

  .search-form {
    width: 100px;
    height: 25px;
  }

  #vhod {
    font-size: 13px !important;
  }

  #lupa {
    width: 15px !important;
    height: 15px !important;
  }

  .navbar-controllers {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }

  .container-navbar {
    min-width: 100%;
    display: flex;
    justify-content: center !important;
    /* margin-left: 21px; */
  }

  #user {
    width: 15px !important;
    height: 15px !important;
  }

  #heart {
    width: 15px !important;
    height: 15px !important;
  }

  .container-home {
    margin-top: 275px;
  }

  .container-home h3 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .container-home button {
    width: 201px;
    height: 40px;
    color: white;
    border: 1px white solid;
    background-color: #333333;
    font-size: 18px;
    font-weight: 500;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  #music {
    margin-top: 20px;
  }
}

@media all and (max-width: 768px) {
  .container-header {
    width: 768px;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 380px;
  }

  .container-home h3 {
    font-size: 20px;
  }

  .container-home button {
    width: 180px;
    height: 35px;
    color: white;
    border: 1px white solid;
    background-color: #333333;
    font-weight: 500;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }

  .container-home {
    margin-top: 200px;
  }

  #vhod {
    font-size: 13px !important;
    margin-top: 0 !important;
  }

  #heart {
    display: none;
  }

  #user {
    display: none;
  }

  #lupa {
    display: none;
  }

  #logo {
    margin-left: 88px;
    margin-right: 52px;
  }

  .form-control {
    font-size: 13px !important;
  }

  #music {
    margin-top: 20px;
    width: 180px;
    height: 40px;
  }
  .navbar-text {
    display: flex;
    flex-direction: column;
  }

  .navbar-controllers {
    flex-direction: column;
  }
}

@media all and (max-width: 425px) {
  /* .navbar-controllers {
    display: none;
  } */

  #logo {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
