.container-footer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
  background-color: #333333;
  color: white;
  padding-top: 20px;
}

.footer-item {
  width: 255px;
}

.footer-item h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer-item img {
  margin-bottom: 20px;
}

.footer-item p {
  font-size: 17px;
  font-weight: 400;
  line-height: 150%;
}

#line {
  height: 0.5px;
  width: 255px;
}
